footer{
    display: block;
    color: white;    
    text-align: center;
    align-items: center;
    font-size: large;
    height: 30px;
    width: 100%;   
    bottom: 0;
    background-color: black;    
}

.textoFooter{
    align-items: center;
    margin-top: auto;
}