@import url('https://fonts.googleapis.com/css2?family=Bahiana&family=Bangers&family=Bebas+Neue&family=Caveat:wght@500&family=Chivo&family=Metal&family=Mouse+Memoirs&family=Noto+Sans:wght@300&family=Permanent+Marker&family=Secular+One&display=swap');


*{
    margin: 0;
    padding: 0;
}

.video{
  position: fixed;
  min-height: 100%;
  min-width: 100%;
  top: 50%;
  left: 50%;

  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
}

video{ 
    position: fixed;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    
    transform: translateX(-50%) translateY(-50%);   
}

.contenedorDivIndex{
    display: flex;
    justify-content: flex-end;
    margin: 10%;
    width: 50%;
    height: 40%;
    align-self: flex-start;    
   
}

.recuadroIndex{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: max-content;
    padding: 30px;
    background-image: url(../images/fondoBlanco.jpg);
    background-size: contain;
    justify-content: space-around;
    align-items: center;
}

.contenedorCitas{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 100%;
    height: max-content;
    
    
    justify-content: space-between;
    
}
.cita{
    font-size: xx-large;
    font-style: italic;
    padding: 2% 2% 0 6%;
}
.autor{
    text-align:right;
    padding-top: 2%;
    padding-right: 2%;
    font-size: large;
    font-weight: 500;
}
.comillas{
    
    margin-left: 93%;
    padding: 0 2% 0 0;
    
}
.invertida{
    transform: scaleX(-1);
    width: 6%;
    margin: 2px;
    
}
.btnCita{
    margin-top: 5%;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    transition: 0.2s all;
    border: solid black 1px;
    border-radius: 100%;
    padding: 1%;
    cursor: pointer;

}


h1{
    display: block;
    margin-bottom: 40px;
    font-size: 400%;
    border-bottom: double black 2px;
}

body{
    
    background-image: url(../images/fondoBlanco.jpg);
    background-size: cover; 
    display: grid;
    overflow-x: hidden;
   
}

main{
    
    display: grid;
    justify-items: auto;        
    align-items: center;
    grid-template-columns: 50% 50%;
    min-height: 100vh;
    position: relative;
    align-items: center; 
   
}

.mainIndex{
    display: flex;
    justify-content: flex-end;
}
.cuadroDescripcion{
    width: 100%;
}

select{
    width: 150px;
}
h2{
    font-size: large;
    font-family: 'Courgette';
    font-style: italic;
    font-weight: bolder;
}

.divTitulo{
    
    grid-area: titulo;
    align-self: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    
}
.divEquipo{
    border: 1px, black, solid;
    grid-area: equipo;
    align-self: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
}
.divUsuario{
    border: 1px, black, solid;
    grid-area: usuario;
    align-self: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
}
.divDescripcion{
  
    grid-area: descripcion;
    align-self: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
}
.divInicio{
    grid-area: inicio;
    align-self: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
}
.divFinal{
    grid-area: final;
    align-self: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
}
.divConsumo{
    grid-area: consumo;
    align-self: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
}
.divReactivosExtra{
    grid-area: extra;
    align-self: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
}


.fichaExp{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 80%;
    border: 5px black solid;
   
   
    margin: auto;
    border-radius: 10px;
    font-size: medium;
    overflow: hidden;  
    transform: translateX(200%);
    transition: .5s ease-out;
}

.fichaExp.visible{
    transform: translateX(0%);
}

.areas{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas:
    "titulo titulo titulo"
    "equipo . usuario"
    "descripcion descripcion descripcion"
    "inicio . final"
    "consumo consumo consumo"
    "extra extra extra";      
    gap: 5px;  
    padding: 10px;
   
    
   
}    

.bodyForm{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer{
    display: block;
    color: white;
    
    text-align: center;
    align-items: center;
    font-size: large;
    height: 30px;
    width: 100%;
   
    bottom: 0;
    background-color: black;
    
}

.textoFooter{
    align-items: center;
    margin-top: auto;

}

.divNuevoReactivo{
    display: flex;
    justify-content: center;
   
    
}

.formInicio{
    justify-content: center;
    justify-items: center;
    justify-self: center;
}

.error{
    color: red;
    font-weight: bolder;
}

.mainMisExp{
    display: grid;
    grid-template-columns: 25% auto;
    grid-template-rows: 100%;
}

.filtros{
    background-color: gray;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-top: 50px;
    align-items: stretch;
}

.filtroEquipos{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    padding-left: 10px;
    margin-bottom: 10px;
}

.botonesEquipos{
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    flex-direction: column;
}

.botonesMisExp{
    margin: 5px;
}
.divFechasMisExp{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}



.fichasExp{
    width: 100%;
    height: 100%;
   
    display: grid;
    grid-template-columns: 33% 33% auto;
     
    justify-items: center;
    align-items: flex-start;
    padding: 25px;  
  
}

.divExp{    
    position: relative;
    width: 70%;
    max-height: 80%;
    display: flex;
    flex-direction: column;
    font-size: medium;
    border: 3px black groove; 
    border-radius: 10px;
    flex-wrap: wrap;
    overflow: hidden;
    line-height: 7px;
    align-items: center;
    justify-content: space-around;
    margin: 30px;
    background-color: rgb(182, 191, 212);
}
.divExp:hover .btnBorrarExpe {
    transform: translateX(0);
}
.divExp:hover .btnVerDetalle {
    transform: translateX(0);
}

.btnBorrarExpe{
    background-color: grey;
    color: white;
    position: absolute;
    right: 0;
    top: 15%;    
    height: min-content;
    padding: 2%; 
    transform: translateX(300px);
    transition: .5s ease;
    outline: none;
    border: none;
    border-radius: 5%;
    cursor: pointer;
    font-weight: bolder;
    font-size: 1.2rem;   
}
.btnVerDetalle{ /*USAR PROPIEDAD DE COPIAR COSAS. dsp de aplicar SASS*/
    background-color: grey;
    color: white;
    position: absolute;
    right: 0;
    top: 35%;    
    height: min-content;
    padding: 2%; 
    transform: translateX(300px);
    transition: .5s ease;
    outline: none;
    border: none;
    border-radius: 5%;
    cursor: pointer;
    font-weight: bolder;
    font-size: 1.2rem;   
    margin-top: 1em;
}

.tituloFicha{
    text-align: center;
    font-size: large;
    margin-bottom: 15%;
    padding-top: 10%;
}
.esconder{
    display: none;
}




